@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CHEESEBURGA';
  src: url('./assets/fonts/CHEESEBURGA-demo.ttf');
}

body{
  font-family: 'CHEESEBURGA', sans-serif;
  
}

